#exportPattern("^[[:alpha:]]+")    # everything that starts with a letter is exportet (not dot-functions)

# single objects that have to be exportet, comma has to be in front of the line
export(   CIetterson
        , estimateN
        , ettersonEq14
        , ettersonEq14v1
        , ettersonEq14v2
        , integrate.persistence
	, perickson
	, persistence.prob
	, phuso
	, pkorner
#	, posterior.N
	, posteriorN
	, search.efficiency
	, shapeparameter
#	, persistence
#	, batdist
#	, searches
	)
import(expm)
import(lme4)
importFrom(arm, sim)
import(survival)
importFrom(MASS, mvrnorm)
importFrom("stats", "binomial", "coef", "dbinom", "glm", "model.matrix", "pbeta", "plogis", "predict", "qbeta", "quantile", "rbeta", "rnorm", "sd")

